<!DOCTYPE html>
<html>
<head>
  <title>Recruit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
Signed in as <%= current_user %> <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
<div class="pull-right user-info">
  <%#= link_to "Companies Sign up Here", new_user_registration_path %>
  <%= link_to "Companies Sign in", new_user_session_path %> or
  <%= link_to "Recruiters Sign in", user_omniauth_authorize_path(:linkedin) %>
</div>
  <% end %>

  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", general_pages_index_path %></li>
      <li><%= link_to "How It Works", general_pages_how_it_works_path %></li>
      <li><%= link_to "Contact Us", general_pages_contact_us_path %></li>
    </ul>

        <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

<%= yield %>

</body>
</html>
