<!DOCTYPE html>
<html>
<head>
  <title>Recruit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
    <ul>
      <li><%= link_to "Home", general_pages_index_path %></li>
      <li><%= link_to "How It Works", general_pages_how_it_works_path %></li>
      <%#= link_to "Contact Us", general_pages_contact_us %>
    </ul>

<%= yield %>

</body>
</html>
